<ion-header>
  <ion-toolbar>
    <ion-title>dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <h2>Detalle de Dispositivo</h2>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon size="large" name="thermometer"></ion-icon>
      </ion-avatar>
      <ion-label *ngIf="this.dispositivo != null">
        <h2>{{ this.dispositivo.dispositivoId }} - {{ this.dispositivo.nombre }}</h2>

        <!-- <h3>{{ this.ubicacion }}</h3>
        <h3>{{ this.electrovalvulaId }}</h3> -->
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="highcharts" style="width:100%; height:300px;"></div>

  <!-- mostrar medicion -->

</ion-content>